.wrapper {
    width: 90%;
    min-height: 70vh;
    margin: 3vh auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(240, 230, 240);
    border: 5px inset plum;
    border-radius: 25px;
}

.wrapper h1 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Russo One', Arial, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    flex-basis: 10vh;
    line-height: 10vh;
}

.game_window {
    justify-content: space-evenly;
    display: flex;
}

.fruit {
    border: 3px solid darkblue;
    flex-basis: 30%;
    height: 180px;
    background-color: whitesmoke;
}

.play {
    margin: 0 auto;
    flex-basis: 20vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.play input {
    width: 60%;
    height: 30%;
    padding-left: 5%;
    border-radius: 10px;
    font-size: 2rem;
}

.play button {
    margin-left: 10%;
    width: 30%;
    height: 30%;
    background-color: darkblue;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    box-shadow: 0 9px #999;
}

.play button:hover {
    background-color: #000;
}

.play button:active {
    background-color: darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(5px);
}

.amount_panel {
    margin: 0 auto;
    flex-basis: 5vh;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-bottom: 2%; */
}

.wallet {
    font-weight: bold;
    font-size: 2rem;
}

.games {
    margin: 0 auto;
    flex-basis: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    border: 4px dotted darkblue;
    padding: 1vw 5vw;
    margin-bottom: 3vw;
}

@media (max-width: 1024px) {
    .play button {
        font-size: 1rem;
    }
}